.wrapper
    .about(data-background = '#e9dfd1').slide
        .inner

            button.btn-white(data-color='white')
                span
            button.btn-black(data-color='black')
                span

            h2.about-name= resume.text.name

            .about-personal-info
                h4.about-title= resume.text.personalInformation.title
                p.about-item= 'Email:' + ' ' + resume.text.personalInformation.email
                p.about-item= 'Date of birth:' + ' ' + resume.text.personalInformation.dateOfBirth


            .about-education
                h3.about-title= resume.text.education.title

                .about-education-item
                    p.about-item= '►' + ' ' +  resume.text.education.bachelor.university
                    p.about-item= resume.text.education.bachelor.position
                    p.about-item= resume.text.education.bachelor.time

                .about-education-item
                    p.about-item= '►' + ' ' +  resume.text.education.master.university
                    p.about-item= resume.text.education.master.position
                    p.about-item= resume.text.education.master.time


            .about-courses
                h3.about-title= resume.text.courses.title

                ul.about-courses-list
                each data, item in resume.text.courses.list
                    li.about-item= '►' + ' ' + item + ' '
                        span= data


            .about-seminars
                h3.about-title= resume.text.seminars.title
                p.about-item= resume.text.seminars.name


.wrapper
    .about(data-background = '#e62739').slide
        .inner


            .about-skills
                h3.about-title= resume.text.skills.title

                .about-skills-list
                each item in resume.text.skills.list
                    p.about-item= '►' + ' ' + item


            .about-language
                h3.about-title= resume.text.language.title

                .about-language-list
                each score, item in resume.text.language.list
                    p.about-item= '►' + ' ' +  item + ' '
                        span= score


            .about-qualities
                h3.about-title= resume.text.qualities.title

                .about-qualities-list
                each item in resume.text.qualities.list
                    p.about-item= '►' + ' ' +  item